@import "tailwindcss";
@import "./fonts.css";

:root {
  --outline: #e5e5e5;

  --background: #f3f3f6;
  --on-background: #1c1b1f;
  --on-background-disbabled: rgba(28, 27, 31, 0.5);
  --surface-container: #ffffff;
  --on-surface-container: #1c1b1f;
  --on-surface-container-disbabled: rgba(28, 27, 31, 0.5);

  --primary: #0b1338;
  --on-primary: #ffffff;

  --action-success: #16a34a;
  --action-warning: #ca8a04;
  --action-error: #dc2626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --outline: #444444;

    --background: #000000;
    --on-background: #ffffff;
    --on-background-disbabled: rgba(255, 255, 255, 0.5);
    --surface-container: #121216;
    --on-surface-container: #ffffff;
    --on-surface-container-disbabled: rgba(255, 255, 255, 0.5);

    --primary: #bad1e0;
    --on-primary: #000000;

    --action-success: #38e076;
    --action-warning: #ffcc60;
    --action-error: #ff5151;
  }
}

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-on-background-disabled: var(--on-background-disbabled);

  --color-surface-container: var(--surface-container);
  --color-on-surface-container: var(--on-surface-container);
  --color-on-surface-container-disabled: var(--on-surface-container-disabled);

  --color-outline: var(--outline);

  --color-primary: var(--primary);
  --color-onPrimary: var(--on-primary);

  --color-success: var(--action-success);
  --color-warning: var(--action-warning);
  --color-error: var(--action-error);

  /* Text Sizes */
  --text-body-xs: 0.625rem;
  --text-body-sm: 0.75rem;
  --text-body-md: 0.875rem;
  --text-body-lg: 1rem;

  --text-title-sm: 1rem;
  --text-title-sm--font-weight: 600;
  --text-title-md: 1.5rem;
  --text-title-md--font-weight: 600;
  --text-title-lg: 2rem;
  --text-title-lg--font-weight: 600;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

* {
  font-family: "Inter Variable", "Inter Thai Loopless", sans-serif;
  font-feature-settings: "ss02" on, "ss03" on, "cv11" on;

  line-height: 1.4;
}

body {
  @apply text-on-background bg-background;
}

b {
  @apply font-semibold;
}
