@import "tailwindcss";
@import "./fonts.css"

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: "Inter", "Inter Thai Loopless", sans-serif;
  font-feature-settings: 'ss02' on, 'ss03' on, 'cv11' on;
}

b {
  font-weight: 600;
}